.hero {
  margin: 0px 120px;
  margin-top: 100px;
}

.hero_text {
  color: #fff;
  font-size: 80px;
  font-weight: 500;
  line-height: 90px;
  font-family: Outfit;
}

.hero_explore {
  display: flex;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin-top: 70px;
  padding: 5px 8px;
  padding-left: 30px;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}

.hero_explore p {
  font-family: Outfit;
  padding: 10px 15px 0;
  color: #292929;
  font-size: 20px;
  font-weight: 500;
}

.hero-dot_play {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.hero_dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}

.hero-dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 7.5px;
  cursor: pointer;
}

.hero-dot.orange {
  background: orangered;
}

.hero_play {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero_play p {
  color: #fff;
  font-size: 19px;
}
