.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 120px;
  color: white;
}

.nav_logo a {
  font-family: Outfit;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 70px;
  cursor: pointer;
}

.nav_plugins {
  border-radius: 50px;
  padding: 9px 30px;
  background: #fff;
  color: #262626;
}
