.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 120px;
  color: white;
}

.nav_logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}

.nav_plugins {
}
